*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
header{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
}
.logo{
color:white;
font-size: 25px;
font-weight: 600;
transition: 0.3s ease;
text-decoration: none;
margin-left: 5vh;
}
.logo:hover{
    color: yellowgreen;
    text-shadow: 0 0 25px yellowgreen,0 0 25px yellowgreen;
    transform: scale(1.1);
}
.nav a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3 s ease;
}
.nav a:hover,
.nav a.active{
    color: yellowgreen;
    border-bottom: 3px solid yellowgreen;
}
.nav-link{
    margin-left: 2vh;
}
.p{
    width: 85%;
    margin: auto;
    background-color: rgba(241, 241, 241);
}
.home{
    width: 100%;
    background-color: rgba(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14vh;
}
.home-content
{
    width: 60%;
}
.pp{
    border-style: solid;
    border-color: yellowgreen;box-shadow: 0 0 15px yellowgreen;
}
.pp:hover{
    box-shadow: 0 0 25px yellowgreen;
}
.home-content h3{
    font-size: 40px;
    padding-left:2%;
}
.home-content h3{
    font-size: 60px;
    padding-left:2%;
}
.home-content h3 span{
    color: yellowgreen;
}
.home-content h3 span:hover{
    color: yellowgreen;
    text-shadow: 0 0 25px yellowgreen,0 0 25px yellowgreen;
}
h1{
    background-color: yellowgreen;color: white;text-align: center;
}
.edu-content{
font-size: 25px;
width: 100%;
padding-left:2%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 10vh;row-gap: 10vh;
    width:80%;
    margin: auto;
}
.g1{
    height: 100%;
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 1vh;
    padding: 40%;
}
.g1:hover{
    transform: scale(1.1);
}
.skills-content{
    width: 80%;
    margin: auto;
    font-size: 25px;
    column-gap: 20vh;
    row-gap:2vh;
    display: flex;
    flex-wrap: wrap;
}
.technical-skills , .professional-skills{
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 1vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50vh;  
}
.lang-content{
    font-size: 25px;
    padding-left:2%;
}
.fa-brands , .fa-solid {
    font-size:55px;margin: auto;  
}
.fa-brands:hover , .fa-solid:hover{
    transform: scale(1.1);
}
.footer-content{
    text-align: center;
    width: 100%;  
}
.contact{
    font-size: 40px;
    border-style: solid;
    border-radius: 1vh;
    border-color: yellowgreen;
    display: inline-block;
}
.contact:hover{
    box-shadow: 0 0 25px yellowgreen;
}
